html {
  position: relative;
  min-height: 97%;
}

body {
  width: 100%;
  background: url("assets/Background/tv1.png");
  background-size: 1900px 910px;
  background-repeat: no-repeat;

.footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

canvas {
  display: block;
  margin: auto;
}